.top-left{
  position: relative;
  background: #F4A460;
  height: $length;
  width: $length;
  border-style: dotted;
  border-width: 0.1rem;

  &::before {
    position: absolute;
    content: '';
    background: #303236;
    top: $half - $line-width/2;
    left: $half - $line-width/2;
    height: $half + $line-width/2;
    width: $line-width;
  }

  &::after {
    position: absolute;
    content: '';
    background: #303236;
    top: $half -$line-width/2;
    left: $half -$line-width/2;
    width: $half+$line-width/2;
    height: $line-width; 
  }
}

